@{
    ViewData["Title"] = "Modify product";
}
<form class="mt-5">
    <div class="mb-3">
        <label class="form-label fw-bold fs-4">URL Image</label>
        <input type="url" class="form-control" name="image_url" placeholder="http://..." required>
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold fs-4">Category</label>
        <input type="text" class="form-control" placeholder="Category">
    </div>
    <div class="mb-3 ">
        <label class="form-label fw-bold fs-4">Article</label>
        <input type="text" class="form-control" placeholder="Article">
    </div>
    <div class="mb-3 ">
        <label class="form-label fw-bold fs-4">Date</label>
        <input type="date" class="form-control">
    </div>
    <div class="mb-3 ">
        <label class="form-label fw-bold fs-4">Price</label>
        <input type="number" class="form-control" step=".01">
    </div>
    <div class="mb-3 ">
        <label class="form-label fw-bold fs-4">Description</label>
        <input type="text" class="form-control" placeholder="Description">
    </div>
    <button type="submit" class="bg-btn-backOffice btn  btn-lg rounded-pill text-black border border-dark my-3">Modify Product</button>
</form>